/*
  Специально для тёмной темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --nav-color: var(--nav-color-dark);
  --accent-color: var(--accent-color-dark);
  --accent-color-special: var(--accent-color-special-dark);
  --color-special-element: var(--color-special-element-dark);
  --title-color: var(--title-color-dark);
  --title-color-focus: var(--title-color-focus-dark);
  --main-title-color: var(--main-title-color-dark);
  --title-color-bottom: var(--title-color-bottom-dark);
  --bg-image: var(--bg-image-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --nav-color: var(--nav-color-dark);
    --accent-color: var(--accent-color-dark);
    --accent-color-special: var(--accent-color-special-dark);
    --color-special-element: var(--color-special-element-dark);
    --title-color: var(--title-color-dark);
    --title-color-focus: var(--title-color-focus-dark);
    --main-title-color: var(--main-title-color-dark);
    --title-color-bottom: var(--title-color-bottom-dark);
    --bg-image: var(--bg-image-dark);
  }
}