:root.theme-dark {
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --menu-color: #ff0070;
  --subheader-color: #000028;
  --secondary-title-color: #ff0070;
  --active-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.5);
  --description-color: #f1b2ce;
  --text-size-main: 18px;
  --text-weight-main: normal;
  --text-weight-title: bold;
  --text-size-title: 116px;
  --bg-image-page: url("../images/cover-image-dark.png");
  --background-color: #000028;
}

:root.theme-dark .app-header__rec {
  display: block;
}
