:root.theme-light {
  --accent-color: #ff8dcb;
  --menu-color: #353430;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --subheader-color: #000028;
  --secondary-title-color: #353430;
  --hover-color: rgba(0, 0, 0, 0.5);
  --description-color: #353430;
  --active-color: #353430;
  --bg-image-page: url("../images/cover-image-light.png");
  --bg-image-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --menu-color: #353430;
    --title-color: #ffc2e6;
    --decor-color: #353430;
    --subheader-color: #000028;
    --secondary-title-color: #353430;
    --hover-color: rgba(0, 0, 0, 0.5);
    --description-color: #353430;
    --active-color: #353430;
    --bg-image-page: url("../images/cover-image-light.png");
    --bg-image-color: #fff1f7;
  }
}

:root.theme-light .app-header__rec {
  display: none;
}
