/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* Сохраняем селектор таким, чтобы он имел приоритет над медийными запросами */
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --nav-color: var(--nav-color-light);
  --accent-color: var(--accent-color-light);
  --accent-color-special: var(--accent-color-special-light);
  --color-special-element: var(--color-special-element-light);
  --title-color: var(--title-color-light);
  --title-color-focus: var(--title-color-focus-light);
  --main-title-color: var(--main-title-color-light);
  --bg-image: var(--bg-image-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --nav-color: var(--nav-color-light);
    --accent-color: var(--accent-color-light);
    --accent-color-special: var(--accent-color-special-light);
    --color-special-element: var(--color-special-element-light);
    --title-color: var(--title-color-light);
    --title-color-focus: var(--title-color-focus-light);
    --main-title-color: var(--main-title-color-light);
    --bg-image: var(--bg-image-light);
  }
}

.theme-light .page {
  /* Оставляем остальные правила без изменений */
}