@media (min-width: 1024px) {
  .site-header.corner-decoration {
    min-height: 768px;
  }

  .header__theme-menu {
    margin-top: 20px;
    margin-right: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-item:not(:first-child) {
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    width: 230px;
    height: 26px;
    padding-top: 2px;

  }

  .site-header__title {
    min-width: 364px;
  }

  .site-header__subtitle {
    margin-top: 75px;
    align-self: start;
    min-width: 491px;
    margin-right: -0;
  }

  .content-section__title {
    min-width: 315px;
  }

  .content-section--focus-difficulty .content-section__list,
  .content-section.content-section--focus-improvement .focus-tips {
    max-width: calc(100% - 80px);
    padding-right: 30px;
  }

  .content-section__text {
    max-width: 100%;
  }

  .content-section.content-section--concentration-reducers .content-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
    width: 985px;
  }
}