@media (min-width: 768px) {
  .corner-decoration::before {
    left: 20px;
    bottom: 20px;
  }

  .corner-decoration::after {
    right: 20px;
    top: 20px;
  }

  .site-header.corner-decoration {
    padding: 0 20px;
    min-height: 1024px;
  }

  .recording-indicator {
    right: 48px;
    top: 20px;
  }

  .header__theme-menu {
    margin-top: 70px;
  }

  .site-header__title {
    margin-left: -20px;
  }

  .site-header__title,
  .site-footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }

  .site-header__subtitle {
    max-width: 364px;
    margin-top: 108px;
    justify-self: end;
    margin-right: -15px;
  }

  .content-section:first-child {
    margin-top: 60px;
  }

  .content-section {
    margin-top: 80px;
    padding: 0 20px;
  }

  .content-section.content-section--focus-difficulty,
  .content-section.content-section--focus-improvement {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
  }

  .content-section--focus-difficulty .content-section__title,
  .content-section--concentration-reducers .content-section__title,
  .content-section--focus-improvement .content-section__title {
    width: 236px;
  }

  .content-section--focus-difficulty .content-section__item:first-child,
  .content-section--focus-improvement .focus-tips .focus-tips__title {
    margin-top: 0;
  }

  .content-section--focus-difficulty .content-section__text,
  .content-section--focus-improvement .focus-tips {
    width: min(1144px, calc(100vw - 280px));
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image--sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery__image--ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__image--tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__image--books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__image--street {
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .site-footer {
    margin-top: 60px;
  }
}