@media (width >=1024px) {
  .page {
    display: grid;
    gap: 80px;
  }

  .header {
    padding-block: 20px 134px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block: -2px;
    width: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    inline-size: auto;
    block-size: 25px;
    margin-top: -2px;
  }

  .title {
    font-size: 157px;
    margin-top: 259px;
    margin-inline-start: -20px;
  }

  .what {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "title . ."
      "multitasking food gadgets";
  }

  .footer__title {
    font-size: 157px;
  }

  .why_multitasking {
    width: 649px;
  }
  .what__h2 {
    width: 315px;
  }

  .why {
    grid-template-columns: repeat(3, auto);
  }

  .why__h2 {
    grid-area: title;
    grid-template-columns: minmax(auto, 14.75rem) 1fr;
    grid-auto-rows: auto;
    gap: 1.25rem;
    padding: 0 1.25rem;
  }
}
