/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.app {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header__theme-menu-list {
  color: var(--menu-color);
  list-style: none;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-family: IBM Plex Mono, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  outline: 1px solid transparent;
}

.header__theme-menu-button:hover {
  border-bottom: currentColor;
  outline: 1px solid var(--menu-hover);
  outline-offset: 2px;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.recording-indicator {
  position: absolute;
  right: 38px;
  top: 10px;
  color: var(--rec-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.recording-indicator::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  right: -19px;
  top: 8px;
  background: var(--main-color);
  box-shadow: 0 0 4px 2px var(--main-color);
  border-radius: 50%;
}

.site-header__title,
.site-footer__title {
  color: var(--header-color);
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: lowercase;
  align-self: center;
}

.site-header__title {
  text-shadow: 4px 4px var(--header-shadow-color);
}

.site-footer__title {
  text-shadow: 4px 4px var(--footer-shadow-color);
}

h2 {
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3,
h4 {
  font-family: IBM Plex Mono, sans-serif;
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.2px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.site-header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  gap: 55px;
  grid-template-rows: 1fr min-content 1fr;
}

.site-header__subtitle {
  background-color: var(--main-color);
  color: var(--header-title-color);
  font-family: IBM Plex Mono, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: center;
  align-self: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.corner-decoration {
  position: relative;
}

.corner-decoration::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--corner-color);
  border-width: 0 0 1px 1px;
  border-style: solid;
}

.corner-decoration::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--corner-color);
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.content-section__title {
  color: var(--title-color);
}

.content-section__heading {
  background-color: var(--main-color);
}

.content-section__text {
  color: var(--content-color);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.content-section--focus-improvement .content-section__heading {
  font-weight: 400;
}

.focus-tips__title {
  background-color: var(--main-color);
}

.text-link {
  color: var(--content-color);
  text-shadow: 1px 1px 0 var(--main-color);
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border-bottom: currentColor;
  outline: 1px solid var(--content-color);
}

.text-link:hover {
  border-bottom: 1px solid;
  text-decoration-color: var(--content-color);
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content-section--gallery .content-section__title {
  background-color: var(--main-color);
  color: black;
}

.site-footer {
  height: 100vh;
  min-height: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media (min-width: 375px) {
  .corner-decoration::before {
    left: 10px;
    bottom: 10px;
  }

  .corner-decoration::after {
    right: 10px;
    top: 10px;
  }

  .site-header.corner-decoration {
    padding: 0 10px;
  }

  .header__theme-menu {
    margin-top: 60px;
    margin-right: 8px;
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-item:not(:first-child) {
    margin-top: 16px;
  }

  .site-header__title,
  .site-footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
  }

  .content-section {
    margin-top: 50px;
    padding: 0 10px;
  }

  .content-section.content-section--focus-difficulty {
    margin-top: 40px;
  }

  .focus-tips__title {
    margin-top: 20px;
  }

  .content-section__item {
    margin-top: 20px;
  }

  .content-section__text {
    margin-top: 10px;
  }

  .gallery {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    gap: 10px;
  }

  .site-footer {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {


  .content-section__heading:nth-of-type(1) {
    width: 728px;
  }

  .content-section__heading:nth-of-type(2) {
    width: 471px;
  }

  .corner-decoration::before {
    left: 20px;
    bottom: 20px;
  }

  .corner-decoration::after {
    right: 20px;
    top: 20px;
  }



  .site-header.corner-decoration {
    padding: 0 20px;
    min-height: 1024px;
  }

  .recording-indicator {
    right: 48px;
    top: 20px;
  }

  .header__theme-menu {
    margin-top: 70px;
  }

  .site-header__title {
    margin-left: -20px;
  }

  .site-header__title,
  .site-footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }

  .site-header__subtitle {
    max-width: 364px;
    margin-top: 108px;
    justify-self: end;
    margin-right: 0px;
  }

  .content-section:first-child {
    margin-top: 60px;
  }

  .content-section {
    margin-top: 80px;
    padding: 0 20px;
  }

  .content-section.content-section--focus-difficulty,
  .content-section.content-section--focus-improvement {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 20px;
  }

  .content-section--focus-difficulty .content-section__title,
  .content-section--concentration-reducers .content-section__title,
  .content-section--focus-improvement .content-section__title {
    width: 236px;
  }

  .content-section--focus-difficulty .content-section__item:first-child,
  .content-section--focus-improvement .focus-tips .focus-tips__title {
    margin-top: 0;
  }

  .content-section--focus-difficulty .content-section__text,
  .content-section--focus-improvement .focus-tips {
    width: min(1144px, calc(100vw - 302px));
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .gallery__image--sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery__image--ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__image--tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .gallery__image--books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__image--street {
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .site-footer {
    margin-top: 60px;
  }
}

@media (min-width: 1024px) {
  .site-header.corner-decoration {
    min-height: 768px;
  }

  .content-section__title {
    color: var(--title-color);
  }

  .content-section__heading {
    background-color: var(--main-color);
  }

  .content-section__text {
    color: var(--content-color);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .content-section--focus-improvement .content-section__heading {
    font-weight: 400;
  }

  .content-section {
    margin-top: 70px;
    padding: 0 20px;
  }

  .header__theme-menu {
    margin-top: 20px;
    margin-right: 0;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-item:not(:first-child) {
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    width: 232px;
    height: 28px;
    padding-top: 2px;
  }

  .site-header__title {
    min-width: 364px;
    margin-left: -21px;
  }

  .site-header__subtitle {
    margin-top: 75px;
    align-self: start;
    min-width: 491px;
    margin-right: -0;
  }

  .content-section__title {
    min-width: 315px;
    margin-bottom: -10px;
  }

  .content-section--focus-difficulty .content-section__list,
  .content-section.content-section--focus-improvement .focus-tips {
    max-width: calc(100% - 80px);
    padding-right: 16px;
  }

  .content-section__text {
    max-width: 100%;
    margin: -15px;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
  }

  .content-section.content-section--concentration-reducers .content-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-between;
    width: 985px;
    padding-top: 10px;
  }

  .gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-top: 10px;
  }
}