/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.link-shadow {
  -webkit-text-shadow: 2px 2px 0 var(--accent-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.highlight-block {
  background-color: var(--accent-color);
  color: var(--subheader-color);
  font-size: var(--text-size-main);
  font-weight: var(--text-weight-title);
  height: min-content;
  line-height: 1.3em;
}

.text-normal-weight {
  font-weight: var(--text-weight-main);
}

.hero-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.focus-header {
  position: relative;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

@media (min-width: 768px) {
  .focus-header {
    padding: 20px;
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .focus-header {
    min-height: 768px;
  }
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

@media (min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
}

.header__theme-menu-list {
  display: grid;
  gap: 15px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: var(--text-size-main);
  border: none;
  outline: none;
  color: var(--menu-color);
  text-transform: lowercase;
  line-height: 1em;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.focus-header__title {
  color: var(--title-color);
  font-weight: var(--text-weight-title);
  line-height: 82.5%;
  -webkit-text-shadow: 4px 4px 0 var(--accent-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .focus-header__title {
    transform: translateX(-20px);
  }
}

.focus-header__description {
  align-self: center;
}

@media (min-width: 768px) {
  .focus-header__description {
    justify-self: end;
    max-width: 50%;
  }
}

.app-header__rec {
  position: absolute;
  right: 38px;
  top: 10px;
  font-size: var(--text-size-main);
  color: var(--accent-color);
  font-weight: var(--text-weight-main);
}

@media (min-width: 768px) {
  .app-header__rec {
    right: 48px;
    top: 20px;
  }
}

.app-header__rec::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -16px;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #ff0070;
  box-shadow: 0 0 4px 5px;
}

.decorated-corners::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-corners::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor-color);
  border-bottom: 1px solid var(--decor-color);
}

@media (min-width: 768px) {
  .decorated-corners::after {
    top: 20px;
    right: 20px;
  }

  .decorated-corners::before {
    left: 20px;
    bottom: 20px;
  }
}

.focus-page {
  background: var(--bg-image-page) center/cover no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-image-color);
}

.focus-main {
  margin-top: 37px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .focus-main {
    margin-top: 60px;
    padding: 0 20px;
  }
}

.article-section {
  display: grid;
  margin-bottom: 50px;
  gap: 20px;
}

@media (min-width: 768px) {
  .article-section {
    margin-bottom: 80px;
    grid-template-columns: 236px 1fr;
  }
}

@media (min-width: 1024px) {
  .article-section {
    grid-template-columns: 315px 1fr;
  }
}

.article-section__title {
  color: var(--secondary-title-color);
  font-size: var(--text-size-main);
  line-height: 1.3em;
}

@media (min-width: 768px) {
  .article-section__title {
    grid-row: 1 / -3;
  }
}

@media (min-width: 768px) {
  .article-card {
    grid-column: 2;
  }
}

.article-card__title h3 {
  font-size: var(--text-size-main);
}

.article-card__description {
  margin-top: 10px;
  font-size: var(--text-size-main);
  color: var(--description-color);
  line-height: 1.3em;
}

.article-card__link:hover {
  border-bottom: 1px solid var(--description-color);
}

.article-card__link:focus-visible {
  outline: 1px solid var(--description-color);
}
.article-section__cards-container {
  display: grid;
  gap: 20px;
}

@media (min-width: 768px) {
  .article-section__cards-container {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

@media (min-width: 1024px) {
  .article-section__cards-container {
    grid-column: 1 / -1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .traps-section .article-section__title-wide {
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .traps-section .article-card__wide {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .traps-section .article-card__wide {
    grid-column: auto;
    grid-row: auto;
  }
}

.article-card__subtitle-text {
  margin-bottom: 20px;
  font-weight: var(--text-weight-title);
  font-size: var(--text-size-main);
}

.photo-gallery {
  margin-top: 50px;
}

.photo-gallery__list {
  margin-top: 10px;
  gap: 5px;
  display: grid;
}

@media (min-width: 768px) {
  .photo-gallery__list {
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  @media (min-width: 1024px) {
    .photo-gallery__list {
      grid-template-rows: 260px 315px 433px;
    }
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

.photo-gallery__title-text {
  font-size: var(--text-size-main);
}

.photo-gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.focus-footer {
  padding: 0 10px;
  min-height: 668px;
  height: 100vh;
  margin-top: 38px;
  position: relative;
  display: grid;
  align-items: center;
}

@media (min-width: 768px) {
  .focus-footer {
    margin-top: 60px;
    min-height: 1024px;
    justify-items: center;
  }
}

@media (min-width: 1024px) {
  .focus-footer {
    min-height: 768px;
  }
}

.focus-footer__title {
  -webkit-text-shadow: 2px 2px 0 var(--accent-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: var(--text-weight-title);
  line-height: 82.5%;
}
