/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
  variables.css (глобальные переменные)
*/
:root {
  --bg-color: #000028;
  /* — для цвета фона */
  --text-color: #f1b2ce;
  /* — для цвета текста */
  --nav-color: #ff0070;
  /* - color на кнопках смены темы*/
  --accent-color: #ff0070;
  /* — для акцентного цвета */
  --accent-color-special: #ff0070;
  /* - для спец-элемента */
  --color-special-element: rgba(255, 0, 112, 0.5);
  /* - для спец-элемента */
  --title-color: #db00ff;
  --main-font: "IBM Plex Mono";
  /* — имя семейства шрифта преобладающего текста (абзацы) */
  --accent-font: "IBM Plex Mono";
  /* — шрифт для заголовков и особенных текстовых элементов */
}